.login{
     margin: 0 auto;
     width: 800px;
     height: 400px;
    padding: 40px;
 }
.login-content{
    margin: 0 auto;
    width: 60%;
    padding: 20px;
}
.login-img{
    margin: 0 auto;
    width: 110px;
    height: 110px;

}